.footer {
    background-color:#0B5583;
    color: #ecf0f1;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: rgb(11, 85, 131);
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
 section {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
      color: #3498db;
    }

    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    input[type="submit"] {
      background-color: #3498db;
      color: #fff;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #258cd1;   }
      @media only screen and (max-width: 600px) {


        .navbar a {
          font-size: 10px;
        }
        section{
          margin: 2px;
          padding: 8px;
        }
        input, textarea {
          padding: 2px;
          width: 60%;
        }

    
      }